<!doctype html>
<html lang="en" ng-app="todo">
  <head>
    <meta charset="utf-8">
    <title>homework_3</title>
    <link rel="stylesheet" href="lib/bootstrap.css" />
    <script src="lib/angular.min.js"></script>
    <style>
    .done-true {
      text-decoration: line-through;
      color: grey;
    }
    body {
	font-size: 14px;
	background: #eeeeee;
	color: #333333;
	width: 520px;
	margin: 0 auto;
}
h2 {
	font-size: 36px;
	text-align: center;
  text-decoration-style: dashed;
  text-decoration: underline;
}
input[type="text"] {
	width: 366px;
	font-size: 24px;
	line-height: 1.4em;
	padding: 6px;
}
    </style>
  </head>
  <body>
    <h2>Домашка 3 "todoList"</h2>
     <div ng-controller="TodoListController as todoList">
       <form ng-submit="todoList.add()">
         <input type="text" ng-model="todoList.todoText"  size="30"
                placeholder="add new todo here">
         <input class="btn-primary" type="submit" value="Тисни тут красавчик">
       </form>
       <ul class="unstyled">
         <li ng-repeat="todo in todoList.todos">
           <input type="checkbox" ng-model="todo.done">
           <span class="done-{{todo.done}}">{{todo.text}}</span>
         </li>
       </ul>
       <button ng-click="todoList.clear()">Clear</button>
     </div>
  <script>
  angular
  .module('todo', [])
  .controller('TodoListController', function() {
      var todoList = this;
      todoList.todos = [];

      todoList.add = function() {
        todoList.todos.push({text:todoList.todoText, done:false});
        todoList.todoText = '';
      };
      todoList.clear = function(){
        todoList.todos = todoList.todos.filter(function(item){
          return !item.done
        })
      }

    });
</script>
  </body>
</html>
