<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homework2</title>
  <style>
  a:link, a:visited {
      background-color: black;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }


  a:hover, a:active {
      background-color: blue;
  }
  </style>
</head>
<body>
  <a href="/me">Log in</a>
</body>
</html>
