<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homework2</title>
  <style>
  <style>
  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
      background-color: #4CAF50;
      border-collapse: collapse;
      width: 100%;
  }
  </style>
</style>
</head>
<body>
  <table>
    <form action="/me" method="post">
      <th>Name:<input type="text" name="Name" value=<%= data.name %>>  </th>
      <th>Surname:<input type="text" name="Surname" value=<%= data.surname %>> </th>
      <th>Email:<input type="text" name="Email" value=<%= data.email %>> </th>
      <th>Age:<input type="text" name="Age" value=<%= data.age %>> </th>
       <th><input type="submit"></th>
    </form>
</table>
</body>
</html>
